
.icon-icecream {
	background-image: url('png/icecream.png');
	background-repeat: no-repeat;
}

.icon-lamp {
	background-image: url('png/lamp.png');
	background-repeat: no-repeat;
}

.icon-passport {
	background-image: url('png/passport.png');
	background-repeat: no-repeat;
}

.icon-theatre {
	background-image: url('png/theatre.png');
	background-repeat: no-repeat;
}

.icon-turntable {
	background-image: url('png/turntable.png');
	background-repeat: no-repeat;
}

.icon-vespa {
	background-image: url('png/vespa.png');
	background-repeat: no-repeat;
}