/*font-family: 'Arvo', serif;*/
/*font-family: 'Pacifico', cursive;*/


/*. main body and overall setup. */
body {
    font-family: 'Arvo', serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
}

#title p {
    color: #444;
    font-size: 1.2em;
}

/*. navbar section. */

#logo {
    width: 40px;
    height: auto;
    padding-right: 10px;
}
#navbar-header{
    font-size: 25px;
    font-weight: 500;
}

.fa-user-alt {
    margin-left: 10px;
    color: #007bff;
}

li.nav-item {
    horiz-align: center;
    vertical-align: center;
}


/*. main content section. */
#main-content {
    padding: 20px 0 50px;
}

.signup-main-content,
.success-main-content {
    height: 70vh;
    overflow: auto;
}

/*. header section. */
.big-heading {
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 1.3;
    text-shadow: 2px 2px darkslategrey;
    letter-spacing: 2px;
}

#title {
    background-color: #1D8AC8;
    color: white;
}

.container-fluid {
    height: 30vh;
    padding: 3% 15% 7%;
}

#main-content {
    padding-top: 50px;
    
}

/*. search section. */

.form-inline {
    margin: 0 auto;
}

/*. map. */

#map {
    height: 400px;
    width:700px;
    margin: 50px auto auto auto;
  }

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
}

.map-container-google-1 {
    text-align: center;
}

/*. cards section. */

#pricing {
    padding: 100px;
    text-align: center;
    color: #444444;
}

.pricing-column {
    padding: 3% 2%;
}

/*. sign in section. */
#form-signin {
    max-width: 330px;
    margin: 0 auto;
}

#confirmSignUp,
#alreadyAMember {
    width: 150px;
}

#alreadyAMember.btn,
#confirmSignUp.btn {
    margin: 0 5px 0 5px;
}


/*. footer section. */
.footer {
    text-align: center;
    padding: 60px 0;
    width: auto;
    height: 60px;
    background-color: #343A40;
}

.image {
    padding: 20px 20px;
}


